<!-- 引入公共的头部 -->
<% include header %>

<div id="main">
    <!-- 引入右边部分 -->
    <% include sidebar %>
    <div id="content">
        <div class="panel">
            <div class="header">
                <ul class="breadcrumb">
                    <li><a href="/">主页</a><span class="divider">/</span></li>
                    <li class="active">我的收藏</li>
                </ul>
            </div>
            <div class="inner">
                <% mylikeData.forEach(function(topic){ %>
                        <%if(topic.isShieled==1){%>
                            <div class="cell">
                                <a class="user_avatar pull-left" href="/user/nswbmw">
                                    <!-- 输出用户头像 -->
                                    <% if(topic.user.upic){ %> 
                                        <img src="/uploads/<%= topic.user.upic %>" title="<%= topic.user.uname %>">
                                    <% }else{ %> 
                                        <img src="/uploads/default.png" title="xdlnode">
                                    <% } %>
                                    
                                </a>
                                <span class="reply_count pull-left">
                                    <span class="count_of_replies" title="回复数"> <%= topic.rid.length %> </span>
                                    <span class="count_seperator">/</span>
                                    <span class="count_of_visits" title="点击数"> <%= topic.visitNum %> </span>
                                </span>
                                <a class="last_time pull-right" href="/topic/<%= topic._id %>">
                                    
                                    <!-- 输出用户头像 -->
                                    <% if(topic.user.upic){ %> 
                                        <img class="user_small_avatar" src="/uploads/<%= topic.user.upic %>" title="souying">
                                    <% }else{ %> 
                                        <img class="user_small_avatar" src="/uploads/default.png" title="xdlnode">
                                    <% } %>
                                    <span class="last_active_time"><% 
                                        var timeValue = new Date() - topic.createTime;
                                        // console.log(timeValue);
                                        var timeAgo;
                                        // console.log(timeAgo);
                                        if(Math.floor(timeValue%1000)){
                                            timeAgo = '刚刚';
                                        }
                                        if(Math.floor(timeValue/1000%60)){
                                            timeAgo = Math.floor(timeValue/1000%60)+'秒前';
                                        }
                                        if(Math.floor(timeValue/1000/60%60)){
                                            timeAgo = Math.floor(timeValue/1000/60%60)+'分钟前';
                                        }
                                        if(Math.floor(timeValue/1000/60/60%24)){
                                            timeAgo = Math.floor(timeValue/1000/60/60%24)+'小时前';
                                        }
                                        if(Math.floor(timeValue/1000/60/60/24)){
                                            timeAgo = Math.floor(timeValue/1000/60/60/24)+'天前';
                                        }
                                    %>
                                    <%=timeAgo %> </span>
                                </a>
                                <div class="topic_title_wrapper">
                                    <% if(topic.isTop!==0){ %> 
                                        <span class="put_top">置顶</span>
                                    <% }else{  %>  
                                        <% if(topic.isJing==1){ %> 
                                            <span class="put_good">精华</span>
                                        <% }else{ %> 
                                            <span class="topiclist-tab"><%= topic.cid.cateName %></span>
                                        <% } %>
                                    <%} %>
                                    
                                    <a class="topic_title" title="<%= topic.tName %>" href="/topic/<%= topic._id %>"> <%= topic.tName %> </a>
                                </div>
                            </div>
                        <%}%>
                            
                <% }) %>
            </div>
        </div>
        <div class="panel">
            <div class="header">
                <span class="col_fade">我发布的话题</span>
            </div>
            <div class="inner">
                <% myData.forEach(function(topic){ %>
                        <%if(topic.isShieled==1){%>
                            <div class="cell">
                                <a class="user_avatar pull-left" href="/user/nswbmw">
                                    <!-- 输出用户头像 -->
                                    <% if(topic.user.upic){ %> 
                                        <img src="/uploads/<%= topic.user.upic %>" title="<%= topic.user.uname %>">
                                    <% }else{ %> 
                                        <img src="/uploads/default.png" title="xdlnode">
                                    <% } %>
                                    
                                </a>
                                <span class="reply_count pull-left">
                                    <span class="count_of_replies" title="回复数"> <%= topic.rid.length %> </span>
                                    <span class="count_seperator">/</span>
                                    <span class="count_of_visits" title="点击数"> <%= topic.visitNum %> </span>
                                </span>
                                <a class="last_time pull-right" href="/topic/<%= topic._id %>">
                                    
                                    <!-- 输出用户头像 -->
                                    <% if(topic.user.upic){ %> 
                                        <img class="user_small_avatar" src="/uploads/<%= topic.user.upic %>" title="souying">
                                    <% }else{ %> 
                                        <img class="user_small_avatar" src="/uploads/default.png" title="xdlnode">
                                    <% } %>
                                    <span class="last_active_time"><% 
                                        var timeValue = new Date() - topic.createTime;
                                        // console.log(timeValue);
                                        var timeAgo;
                                        // console.log(timeAgo);
                                        if(Math.floor(timeValue%1000)){
                                            timeAgo = '刚刚';
                                        }
                                        if(Math.floor(timeValue/1000%60)){
                                            timeAgo = Math.floor(timeValue/1000%60)+'秒前';
                                        }
                                        if(Math.floor(timeValue/1000/60%60)){
                                            timeAgo = Math.floor(timeValue/1000/60%60)+'分钟前';
                                        }
                                        if(Math.floor(timeValue/1000/60/60%24)){
                                            timeAgo = Math.floor(timeValue/1000/60/60%24)+'小时前';
                                        }
                                        if(Math.floor(timeValue/1000/60/60/24)){
                                            timeAgo = Math.floor(timeValue/1000/60/60/24)+'天前';
                                        }
                                    %>
                                    <%=timeAgo %> </span>
                                </a>
                                <div class="topic_title_wrapper">
                                    <% if(topic.isTop!==0){ %> 
                                        <span class="put_top">置顶</span>
                                    <% }else{  %>  
                                        <% if(topic.isJing==1){ %> 
                                            <span class="put_good">精华</span>
                                        <% }else{ %> 
                                            <span class="topiclist-tab"><%= topic.cid.cateName %></span>
                                        <% } %>
                                    <%} %>
                                    
                                    <a class="topic_title" title="<%= topic.tName %>" href="/topic/<%= topic._id %>"> <%= topic.tName %> </a>
                                </div>
                            </div>
                        <%}%>
                            
                <% }) %>
            </div>
        </div>
    </div>
</div>

<!-- 引入公共的尾部 -->
<% include footer %>